<?xml version="1.0"?>
<configuration>
	<location path="CheckAlive">
		<system.webServer>
			<dataflexHttpModule application="WorkspaceSchoolStudent" enabled="true" errortype="0" object="oCheckProject" verbs="Get"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="SchoolHouseList">
		<system.webServer>
			<dataflexHttpModule application="WorkspaceSchoolStudent" enabled="true" errortype="0" object="oListSchool" verbs="GET, POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="Studentlist">
		<system.webServer>
			<dataflexHttpModule application="WorkspaceSchoolStudent" enabled="true" errortype="0" object="oStudent" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="WorkspaceSchoolStudent" enabled="true" errortype="0" object="oWebResourceManagerProxy" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="WebServiceDispatcher.wso">
		<system.webServer>
			<dataflexHttpModule application="WorkspaceSchoolStudent" enabled="true" errortype="1" object="oWebServiceDispatcher" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
